$blue-1: #1C4780;
$blue-2: #225599;
$blue-3: #2764B3;
$blue-4: #2D72CC;
$blue-5: #3381E8;
$blue-6: #D9E9FF;

a, a:hover, a:active {
    color:$blue-5;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

.show {
    display: block;
}

.hide {
    display: none;
}

h1 {
    font-size: 72px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    margin:0;
    padding: 0;
    line-height: 1;
}

h3 {
    font-weight: 300;
    margin: 0;
    padding: 10px 0;

}

.header {
    padding: 40px 0;
    text-align: center;
}

.header-sub {
    background-color: $blue-5;
    text-align: center;
    color: #ffffff;
}

#sec1::after {
    background-image: url("../images/sec-1.jpg");
    background-repeat: no-repeat;
}

#sec2::after {
    background-image: url("../images/sec-2.jpg");
    background-repeat: no-repeat;
}

#sec3::after {
    background-image: url("../images/sec-3.jpg");
    background-repeat: no-repeat;
}
#sec4::after {
    background-image: url("../images/sec-4.jpg");
    background-repeat: no-repeat;
    background-position: 0 -130px;
}

section {
    height: 400px;
    color: #ffffff;
    overflow: hidden;
    position: relative;
    &::after {
        content: '';
        background-color: $blue-1;
        width: 100%;
        height: 600px;
        position: absolute;
        z-index: -100;
        top: 0;
        left: 0;
    }
    &.left-aligned-img {
        text-align: left;
        background: rgba(10, 26, 48, 1);
        background: -moz-linear-gradient(left, rgba(10, 26, 48, 1) 0%, rgba(28, 71, 128, 0) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(10, 26, 48, 1)), color-stop(100%, rgba(28, 71, 128, 0)));
        background: -webkit-linear-gradient(left, rgba(10, 26, 48, 1) 0%, rgba(28, 71, 128, 0) 100%);
        background: -o-linear-gradient(left, rgba(10, 26, 48, 1) 0%, rgba(28, 71, 128, 0) 100%);
        background: -ms-linear-gradient(left, rgba(10, 26, 48, 1) 0%, rgba(28, 71, 128, 0) 100%);
        background: linear-gradient(to right, rgba(10, 26, 48, 1) 0%, rgba(28, 71, 128, 0) 100%);
        .quote {
            float: left;
        }
    }
    &.right-aligned-img {
        text-align: right;
        background: rgba(28, 71, 128, 0);
        background: -moz-linear-gradient(left, rgba(28, 71, 128, 0) 0%, rgba(10, 26, 48, 1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(28, 71, 128, 0)), color-stop(100%, rgba(10, 26, 48, 1)));
        background: -webkit-linear-gradient(left, rgba(28, 71, 128, 0) 0%, rgba(10, 26, 48, 1) 100%);
        background: -o-linear-gradient(left, rgba(28, 71, 128, 0) 0%, rgba(10, 26, 48, 1) 100%);
        background: -ms-linear-gradient(left, rgba(28, 71, 128, 0) 0%, rgba(10, 26, 48, 1) 100%);
        background: linear-gradient(to right, rgba(28, 71, 128, 0) 0%, rgba(10, 26, 48, 1) 100%);
        .quote {
            float: right;
        }
    }
    .quote {
        width: 280px;
        margin: 120px 20px 0 20px;
        //margin: 100px 20px;
        font-weight: 300;
        font-size: 28px;
    }
    .quote-name {
        font-size: 18px;
        margin: 10px 0;
    }
}

.pre-footer {
    background-color: $blue-5;
    text-align: center;
    color: #ffffff;
}

.footer {
    padding: 40px 0 60px 0;
    text-align: center;
}

//message center
.message-center {
    position: fixed;
    bottom: -215px;
    right: 35px;
    border: solid 1px #999999;
    background-color: #ffffff;
    width: 250px;
    font-size: 14px;
    text-align: left;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease;
    &.msg-show {
        bottom: 0 !important;
        transition: all 0.5s ease;
    }
}

.message-header {
    border-bottom: 1px solid #999999;
    padding: 10px;
    font-weight: 600;
}

.message-bubble {
    width: 37px;
    height: 37px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    background-color: $blue-5;
    color: #ffffff;
    font-size: 18px;
    i {
        padding-top: 8px;
    }
}

.message-view {
    height: 160px;
    padding: 10px;
    position: relative;
    .initial {}
    .initial-name {
        font-size: 12px;
        color: #999999;
    }
    .error {
        position: absolute;
        bottom: 10px;
        color: red;
        text-align: center;
        font-size: 18px;
    }
}

.message-input {
    border-top: 1px solid #999999;
    text-align: left;
    input {
        width: 164px;
        height: 32px;
        display: inline-block;
        font-size: 14px;
        padding: 0 10px;
        float: left;
        border: none;
        outline: none;
    }
    button {
        //width:30%;
        float: left;
        height: 32px;
        width: 56px;
        font-size: 14px;
        margin-left: 10px;
        display: inline-block;
        background-color: $blue-5;
        border: none;
        outline: none;
        color: #ffffff;
    }
}

@import "media-query";
