---
title: Welcome to Middleman
---

.header
  %h1 Lorem Inceptos
  
.header-sub
  %h3 The way 0000 is meant to be
.content
  %section#sec1.right-aligned-img
    .quote 
      Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
      .quote-name Amet Vehicula
  %section#sec2.left-aligned-img
    .quote 
      Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
      .quote-name Mollis Magna
  %section#sec3.right-aligned-img
    .quote 
      Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      .quote-name Sollicitudin Fringilla

.pre-footer 
  %h3 Etiam Vestibulum Ullamcorper Nullam Adipiscing
.footer
  %p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor.

  .message-center#msg-center

    .message-container
      
      .message-header#msg-toggle
        Ipsum Purus
        .message-bubble
          %i.fa.fa-comment
      .message-view
        .initial
          .initial-name Ipsum Purus
          Malesuada Fusce Cursus Cras Condimentum
        .error.hide
          Error: No credit card on file.
      .message-input
        %input 
        %button Send