---
title: Welcome to Middleman
---

.header
  %h1 mobile.bosh
  
.header-sub
  %h3 The way BOSH is meant to be.
.content
  %section#sec1.right-aligned-img
    .quote
      "Freedom means I can BOSH when I want to."
      .quote-name - Kyle Janowski
  %section#sec2.left-aligned-img
    .quote 
      "From the moment I wake up, all I want to do is BOSH!"
      .quote-name - Carly Gartner
  %section#sec3.right-aligned-img
    .quote 
      "I can't put it down. Easily the greatest innovation of 2016."
      .quote-name - Bill Shepard
  %section#sec4.left-aligned-img
    .quote 
      "I've never seen BOSH this clearly!"
      .quote-name - Klarissa Watney

.pre-footer 
  %h3 Coming April 2016
.footer
  %p
    Follow us on
    %a{:href => "https://twitter.com"} Twitter
    to stay up to date

  .message-center#msg-center

    .message-container
      
      .message-header#msg-toggle
        Help Desk: Dmitriy
        .message-bubble
          %i.fa.fa-comment
      .message-view
        .initial
          .initial-name Dmitriy
          Let me know if you have any questions! I'm here to help!
        .error.hide
          Error: No credit card on file.
      .message-input
        %input{:placeholder => "Enter message..."}
        %button Send